.gradle
*.sw?
.#*
*#
*~
/build
/code
.classpath
.project
.settings
.metadata
.factorypath
.recommenders
/bin
/build
target
.factorypath
.springBeans
interpolated*.xml
dependency-reduced-pom.xml
build.log
_site/
.*.md.html
manifest.yml
MANIFEST.MF
settings.xml
activemq-data
overridedb.*
*.iml
*.ipr
*.iws
.idea
.DS_Store
.factorypath
/pocs/
*.map
.sass-cache/
/test/
*.pyc
*.bak
/deploy/bin
/deploy/include
/deploy/lib
/deploy/.Python
/deploy/pip-selfcheck.json
/deploy/*.retry
/utils/bin
/utils/include
/utils/lib
/utils/.Python
/utils/pip-selfcheck.json
/utils/*.txt
/utils/*.csv
/integration-testing/

/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/deploy/secrets.yml
/deploy/roles/drmproxy/tasks/secrets_decrypted.yml
